doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/style.css')
    title angular-user
  body(lang='en', ng-app='myApp')
    div(ui-view)
    script(type='text/javascript', src='bower_components/angular/angular.js')
    script(type='text/javascript', src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript', src='bower_components/angular-sanitize/angular-sanitize.min.js')
    script(type='text/javascript', src='bower_components/angular-touch/angular-touch.min.js')
    script(type='text/javascript', src='bower_components/angular-cache/dist/angular-cache.js')
    script(type='text/javascript', src='scripts/roles.js')
    script(type='text/javascript', src='scripts/user.js')
    //
      <script type="text/javascript" src="user.min.js"></script>
    script(type='text/javascript', src='scripts/app.js')
    script(type='text/javascript', src='scripts/HomeCtrl.js')
    script(type='text/javascript', src='scripts/AdminCtrl.js')
    script(type='text/javascript', src='scripts/ErrorCtrl.js')
    script(type='text/javascript', src='scripts/LoginCtrl.js')

